<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Personal</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/bootstrap.weber.css" />
		<link rel="stylesheet" href="css/fx.css" />
		<link rel="stylesheet" href="css/owl.carousel.css" />
		<link rel="stylesheet" href="css/magnific-popup.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
    <body class="light-page">
		<div id="wrap">
			<nav id="nav-logo-menu-2" class="navbar navbar-expand-lg dark absolute-top">
    			<div class="container">
        			<div class="row align-items-center">
            			<div class="col-auto mr-auto">
                			<a class="navbar-brand" href="#">
                        			<img src="images/logo-2-light.png" height="30" class="mw-100" alt="logo">
                    			</a>
            			</div>
            			<div class="col-auto hidden-lg">
                			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target=".main-menu-collapse" aria-expanded="false" aria-label="Toggle navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            			</div>
            			<div class="col-lg-auto collapse navbar-collapse main-menu-collapse">
                			<ul class="navbar-nav ml-auto">
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link</a>
                    			</li>
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link</a>
                    			</li>
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link</a>
                    			</li>
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link</a>
                    			</li>
                			</ul>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</nav><header id="header-text" class="pt-75 pb-75 pt-lg-200 pb-lg-200 text-center dark">
    			<div class="container">
        			<div class="row">
            			<div class="col-12">
                			<img src="images/logo-4-light.png" alt="sign" height="120" class="mb-75">
                			<h1 class=""><strong>Personal</strong></h1>
                			<h2 class="mb-50 mb-md-100"><strong>Multipurpose template</strong></h2>
                			<a href="#" class="btn btn-secondary btn-lg">Discover</a>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</header><section id="sep-center-5" class="section-sep sep-center light text-left">
    			<div class="container">
        			<div class="row">
            			<div class="col-12 ml-auto mr-auto">
                			<img alt="img" class="mw-100" src="images/bg-pattern-5.png" width="100">
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="text-3col-3" class="pt-50 pt-md-100 pb-md-50 pt-lg-150 pb-lg-100 light">
    			<div class="container">
        			<div class="row">
            			<div class="col-lg mb-50">
                			<h4>Sub title</h4>
                			<h2><strong>Main title</strong></h2>
                			<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 40 20" width="40" class="svg-default"><path d="m0 8h40v4h-40z" fill-rule="evenodd"></path></svg>
            			</div>
            			<div class="col-md mb-50">
                			<p>In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible. Our elements have no excessive gloss, but they are always actual.</p>
            			</div>
            			<div class="col-md mb-50">
                			<p>In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible. Our elements have no excessive gloss, but they are always actual.</p>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="desc-halfbg-text-3" class="pb-75 pt-md-150 pb-md-150 dark">
    			<div class="container">
        			<div class="row">
            			<div class="bg-box col-md-6 mb-50 mb-md-0 embed-responsive-4by3" style="background-image: url(images/bg-13.jpg); background-position: center center; background-size: cover;">
            			</div>
            			<div class="col-md-7 ml-auto">
                			<h2><strong>Description</strong></h2>
                			<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 40 20" width="40" class="mb-30 svg-default"><path d="m0 8h40v4h-40z" fill-rule="evenodd"></path></svg>
                			<p class="mb-50">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible. In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible.In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible. In our work we try to use only the most modern, convenient and interesting solutions.</p>
                			<a class="btn btn-outline-light" href="#">Read more</a>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="benefits-4col-counter-3" class="pt-50 pt-lg-150 pb-lg-100 counter-up text-center light">
    			<div class="container">
        			<div class="row">
            			<div class="col-md">
                			<div class="content-box d-inline-block mb-50">
                    			<div class="position-absolute r-0 t-0 padding">
                        			<h3 class="mb-0"><strong class="count-up-data">2</strong></h3>
                    			</div>
                    			<img class="mw-100 mt-20 mb-10" width="200" src="images/stamp-3.png" alt="img">
                    			<h4><strong>Award name</strong></h4>
                			</div>
            			</div>
            			<div class="col-md">
                			<div class="content-box d-inline-block mb-50">
                    			<div class="position-absolute r-0 t-0 padding">
                        			<h3 class="mb-0"><strong class="count-up-data">4</strong></h3>
                    			</div>
                    			<img class="mw-100 mt-20 mb-10" width="200" src="images/stamp-3.png" alt="img">
                    			<h4><strong>Award name</strong></h4>
                			</div>
            			</div>
            			<div class="col-md">
                			<div class="content-box d-inline-block mb-50">
                    			<div class="position-absolute r-0 t-0 padding">
                        			<h3 class="mb-0"><strong class="count-up-data">11</strong></h3>
                    			</div>
                    			<img class="mw-100 mt-20 mb-10" width="200" src="images/stamp-3.png" alt="img">
                    			<h4><strong>Award name</strong></h4>
                			</div>
            			</div>
            			<div class="col-md">
                			<div class="content-box d-inline-block mb-50">
                    			<div class="position-absolute r-0 t-0 padding">
                        			<h3 class="mb-0"><strong class="count-up-data">8</strong></h3>
                    			</div>
                    			<img class="mw-100 mt-20 mb-10" width="200" src="images/stamp-3.png" alt="img">
                    			<h4><strong>Award name</strong></h4>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="gallery-fluid-carousel-4" class="section-carousel gallery carousel-nav-none carousel-dots-left-bottom dark text-right">
    			<div class="container-fluid">
        			<div class="row no-gutters">
            			<div class="col-12">
                			<div class="carousel-3item-nogutters owl-drag"><div class="item gallery-item gallery-style-5 padding dark">
                        			<a href="images/item-bw-1.jpg" class="image-popup">
                            			<img src="images/item-bw-1.jpg" alt="" class="item-img">
                        			</a>
                        			<div class="item-title">
                            			<h4 class="mb-0"><strong>Item title</strong></h4>
                            			<p class="text-secondary mb-0">Item description</p>
                        			</div>
                        			<div class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-default"><path d="m9 7h7v2h-7v7h-2v-7h-7v-2h7v-7h2z" fill-rule="evenodd"></path></svg></div>
                    			</div><div class="item gallery-item gallery-style-5 padding dark">
                        			<a href="https://vimeo.com/45830194" class="video-popup mfp-iframe">
                            			<img src="images/item-bw-2.jpg" alt="" class="item-img">
                        			</a>
                        			<div class="item-title">
                            			<h4 class="mb-0 popup-title"><strong>Item title</strong></h4>
                            			<p class="text-secondary mb-0">Item description</p>
                        			</div>
                        			<div class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-default"><path d="m9 7h7v2h-7v7h-2v-7h-7v-2h7v-7h2z" fill-rule="evenodd"></path></svg></div>
                    			</div><div class="item gallery-item gallery-style-5 padding dark">
                        			<a href="images/item-bw-3.jpg" class="image-popup">
                            			<img src="images/item-bw-3.jpg" alt="" class="item-img">
                        			</a>
                        			<div class="item-title">
                            			<h4 class="mb-0"><strong>Item title</strong></h4>
                            			<p class="text-secondary mb-0">Item description</p>
                        			</div>
                        			<div class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-default"><path d="m9 7h7v2h-7v7h-2v-7h-7v-2h7v-7h2z" fill-rule="evenodd"></path></svg></div>
                    			</div><div class="item gallery-item gallery-style-5 padding dark">
                        			<a href="images/item-bw-4.jpg" class="image-popup">
                            			<img src="images/item-bw-4.jpg" alt="" class="item-img">
                        			</a>
                        			<div class="item-title">
                            			<h4 class="mb-0"><strong>Item title</strong></h4>
                            			<p class="text-secondary mb-0">Item description</p>
                        			</div>
                        			<div class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-default"><path d="m9 7h7v2h-7v7h-2v-7h-7v-2h7v-7h2z" fill-rule="evenodd"></path></svg></div>
                    			</div></div>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="clients-4col" class="pt-50 pt-sm-100 pb-sm-50 text-center light">
    			<div class="container">
        			<div class="row">
            			<div class="col-12 ml-auto mr-auto">
                			<h3><strong>Clients</strong></h3>
                			<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 40 20" width="40" class="svg-secondary mb-75"><path d="m0 8h40v4h-40z" fill-rule="evenodd"></path></svg>
            			</div>
            			<div class="col-sm">
                			<div class="content-box mb-50 mb-sm-100">
                    			<img alt="Brand logo" class="mw-100" src="images/client-logo-secondary.png" height="20">
                    			<p class="mt-20 mb-0 text-secondary">Company name</p>
                			</div>
                			<div class="content-box mb-50 mb-sm-100">
                    			<img alt="Brand logo" class="mw-100" src="images/client-logo-secondary.png" height="20">
                    			<p class="mt-20 mb-0 text-secondary">Company name</p>
                			</div>
            			</div>
            			<div class="col-sm">
                			<div class="content-box mb-50 mb-sm-100">
                    			<img alt="Brand logo" class="mw-100" src="images/client-logo-secondary.png" height="20">
                    			<p class="mt-20 mb-0 text-secondary">Company name</p>
                			</div>
                			<div class="content-box mb-50 mb-sm-100">
                    			<img alt="Brand logo" class="mw-100" src="images/client-logo-secondary.png" height="20">
                    			<p class="mt-20 mb-0 text-secondary">Company name</p>
                			</div>
            			</div>
            			<div class="col-sm">
                			<div class="content-box mb-50 mb-sm-100">
                    			<img alt="Brand logo" class="mw-100" src="images/client-logo-secondary.png" height="20">
                    			<p class="mt-20 mb-0 text-secondary">Company name</p>
                			</div>
                			<div class="content-box mb-50 mb-sm-100">
                    			<img alt="Brand logo" class="mw-100" src="images/client-logo-secondary.png" height="20">
                    			<p class="mt-20 mb-0 text-secondary">Company name</p>
                			</div>
            			</div>
            			<div class="col-sm">
                			<div class="content-box mb-50 mb-sm-100">
                    			<img alt="Brand logo" class="mw-100" src="images/client-logo-secondary.png" height="20">
                    			<p class="mt-20 mb-0 text-secondary">Company name</p>
                			</div>
                			<div class="content-box mb-50 mb-sm-100">
                    			<img alt="Brand logo" class="mw-100" src="images/client-logo-secondary.png" height="20">
                    			<p class="mt-20 mb-0 text-secondary">Company name</p>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><footer id="footer-text-logo-text-2" class="pt-50 pb-50 pt-md-75 pb-md-75 dark text-center">
    			<div class="container">
        			<div class="row align-items-center">
            			<div class="col-md order-md-3 text-md-right">
                			<ul class="list-unstyled list-inline padding-list mb-20 mb-md-0">
                    			<li><a href="#"><strong>Link 1</strong></a></li>
                    			<li><a href="#"><strong>Link 2</strong></a></li>
                    			<li><a href="#"><strong>Link 3</strong></a></li>
                    			<li><a href="#"><strong>Link 4</strong></a></li>
                			</ul>
            			</div>
            			<div class="col-md order-lg-1 text-md-left">
                			<p class="mb-0 text-secondary">© Multifour.com. All rights reserved.</p>
            			</div>
            			<div class="col-md-auto order-md-2">
                			<img class="mw-100 mt-30 mt-md-0" src="images/logo-1.png" height="70" alt="logo">
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/jquery.waypoints.min.js"></script>
		<script src="js/countUp-jquery.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>