<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>App</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/bootstrap.weber.css" />
		<link rel="stylesheet" href="css/fx.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
    <body class="light-page">
		<div id="wrap">
			<nav id="nav-logo-menu" class="navbar navbar-expand-lg light  show">
    			<div class="container-fluid">
        			<div class="row align-items-center">
            			<div class="col-auto mr-auto no-gutters">
                			<a href="#">
                    			<img src="images/logo-3.png" height="60" class="mw-100" alt="logo">
                			</a>
            			</div>
            			<div class="col-auto hidden-lg">
                			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target=".main-menu-collapse" aria-expanded="false" aria-label="Toggle navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            			</div>
            			<div class="col-lg-auto collapse navbar-collapse main-menu-collapse">
                			<ul class="navbar-nav ml-auto">
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link</a>
                    			</li>
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link</a>
                    			</li>
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link</a>
                    			</li>
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link</a>
                    			</li>
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link <span class="badge badge-success"><strong>New</strong></span></a>
                    			</li>
                			</ul>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</nav><header id="header-halfbg-text" class="pb-50 pt-md-100 pb-md-100 pt-lg-150 pb-lg-150 light">
    			<div class="container-fluid">
        			<div class="row">
            			<div class="bg-box col-md-6 padding-x3 mb-50 mb-md-0" style="background-image: url(images/bg-59.jpg); background-position: left top; background-size: cover;">
                			<img alt="mockup" class="mw-100 shadow" src="images/mockup-mobile-screen.png" width="375">
            			</div>
            			<div class="col-md-4 offset-md-7">
                			<h1><strong>App</strong></h1>
                			<h3 class="mb-50">Multipurpose template</h3>
                			<p class="mb-50 mb-lg-100">Elegant objects and background’s animation, neat execution, attention to details and the broadest settings spectrum – all these make this template to be the best suited for you and your great app.</p>
                			<div class="btn-group">
                			    <a href="#" class="btn btn-dark btn-lg"><strong>Buy for $19.99</strong></a><a href="#" class="btn btn-outline-dark btn-lg smooth" target="_self">Details</a>
                			</div>
                			<p class="mt-30 text-secondary small">* In our work we try to use only the most modern, convenient and interesting solutions.</p>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</header><section id="desc-list-img" class="pt-75 pb-75 pt-lg-150 pb-lg-150 light border-bottom">
    			<div class="container">
        			<div class="row align-items-center">
            			<div class="col-md-5">
                			<h3><strong>Feature description</strong></h3>
                			<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 40 20" width="40" class="svg-primary mb-20"><path d="m0 8h40v4h-40z" fill-rule="evenodd"></path></svg>
                			<p class="mb-30">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique.</p>
                			<ul class="list-unstyled padding-list mb-50 mb-md-0">
                    			<li><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-primary icon-pos-left"><path d="m8 16c-4.418278 0-8-3.581722-8-8s3.581722-8 8-8 8 3.581722 8 8-3.581722 8-8 8zm-1-9v6h2v-6zm0-4v2h2v-2z"></path></svg><span>List item description</span></li>
                    			<li><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-primary icon-pos-left"><path d="m8 16c-4.418278 0-8-3.581722-8-8s3.581722-8 8-8 8 3.581722 8 8-3.581722 8-8 8zm-1-9v6h2v-6zm0-4v2h2v-2z"></path></svg><span>List item description</span></li>
                    			<li><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-primary icon-pos-left"><path d="m8 16c-4.418278 0-8-3.581722-8-8s3.581722-8 8-8 8 3.581722 8 8-3.581722 8-8 8zm-1-9v6h2v-6zm0-4v2h2v-2z"></path></svg><span>List item description</span></li>
                    			<li><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-primary icon-pos-left"><path d="m8 16c-4.418278 0-8-3.581722-8-8s3.581722-8 8-8 8 3.581722 8 8-3.581722 8-8 8zm-1-9v6h2v-6zm0-4v2h2v-2z"></path></svg><span>List item description</span></li>
                			</ul>
            			</div>
            			<div class="col-md-7">
                			<img alt="img" class="mw-100 shadow" src="images/bg-64.jpg">
                			<img alt="img" class="position-absolute l-100 t-0 centered" src="images/bg-pattern-5-primary.png" height="100" width="100">
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="benefits-4col-2" class="light">
    			<div class="container-fluid">
        			<div class="row no-gutters">
            			<div class="col-lg col-md-6">
                			<div class="content-box padding-x3 border-lg-right">
                    			<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64" height="48px" viewBox="0 0 64 64" width="48px" class="mb-50 icon svg-secondary"><path d="m5.383 33.022c-.243.949-.383 1.945-.383 2.978 0 5.794 4.206 10 10 10v-2c-4.71 0-8-3.29-8-8 0-4.962 3.589-9 8-9h2.829l.153-.815c1.546-8.22 9.123-14.185 18.018-14.185 10.477 0 19 7.626 19 17v1h1c3.536 0 6 4.216 6 8 0 3.645-2.355 6-6 6v2c4.71 0 8-3.29 8-8 0-4.493-2.783-9.282-7.024-9.927-.537-10.048-9.74-18.073-20.976-18.073-4.097 0-7.938 1.156-11.156 3.157-2.647-3.251-6.59-5.157-10.844-5.157-7.72 0-14 6.28-14 14 0 2.682.761 5.288 2.201 7.538.85 1.327 1.939 2.509 3.182 3.484zm8.617-23.022c3.591 0 6.929 1.581 9.197 4.291-3.457 2.653-5.989 6.375-7.008 10.709h-1.189c-3.88 0-7.242 2.448-8.9 6.009-.849-.747-1.606-1.601-2.214-2.549-1.234-1.927-1.886-4.161-1.886-6.46 0-6.617 5.383-12 12-12z"></path><path d="m17 44h37v2h-37z"></path><path d="m17 50h37v2h-37z"></path><path d="m17 56h37v2h-37z"></path></svg>
                    			<h4 class="mb-20"><strong>Benefit description</strong></h4>
                    			<p class="mb-0">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique.</p>
                			</div>
            			</div>
            			<div class="col-lg col-md-6">
                			<div class="content-box padding-x3 border-lg-right">
                    			<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64" height="48px" viewBox="0 0 64 64" width="48px" class="mb-50 icon svg-secondary"><path d="m54 0h-44v21.142l-10 4.193v38.665h64v-38.665l-10-4.193zm-2 2v29.716l-20 12.537-20-12.537v-29.716zm-42 28.462-6.835-4.285 6.835-2.866zm-8 31.538v-34.193l30 18.807 30-18.807v34.193zm58.835-35.823-6.835 4.285v-7.151z"></path><path d="m31.529 31.882.471.251.471-.251c.429-.229 10.529-5.698 10.529-12.882 0-3.42-2.579-6-6-6-2.085 0-3.924 1.068-5 2.687-1.076-1.619-2.915-2.687-5-2.687-3.421 0-6 2.58-6 6 0 7.184 10.1 12.653 10.529 12.882zm-4.529-16.882c2.206 0 4 1.794 4 4h2c0-2.206 1.794-4 4-4 2.317 0 4 1.682 4 4 0 5.203-7.086 9.724-9 10.85-1.914-1.126-9-5.647-9-10.85 0-2.318 1.683-4 4-4z"></path></svg>
                    			<h4 class="mb-20"><strong>Benefit description</strong></h4>
                    			<p class="mb-0">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique.</p>
                			</div>
            			</div>
            			<div class="col-lg col-md-6">
                			<div class="content-box padding-x3 border-lg-right">
                    			<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64" height="48px" viewBox="0 0 64 64" width="48px" class="mb-50 icon svg-secondary"><path d="m51 0c-7.168 0-13 5.832-13 13 0 2.702.83 5.213 2.246 7.294l-21.644 13.774c-1.978-1.895-4.653-3.068-7.602-3.068-6.065 0-11 4.935-11 11s4.935 11 11 11c4.134 0 7.739-2.295 9.618-5.676l18.397 7.359c-.002.106-.015.211-.015.317 0 4.963 4.037 9 9 9s9-4.037 9-9-4.037-9-9-9c-4.149 0-7.642 2.826-8.679 6.651l-17.899-7.159c.369-1.099.578-2.27.578-3.492 0-2.39-.774-4.598-2.074-6.403l21.587-13.737c2.375 2.54 5.744 4.14 9.487 4.14 7.168 0 13-5.832 13-13s-5.832-13-13-13zm-3 48c3.859 0 7 3.141 7 7s-3.141 7-7 7-7-3.141-7-7 3.141-7 7-7zm-37 3c-4.963 0-9-4.037-9-9s4.037-9 9-9 9 4.037 9 9-4.037 9-9 9zm40-27c-6.065 0-11-4.935-11-11s4.935-11 11-11 11 4.935 11 11-4.935 11-11 11z"></path></svg>
                    			<h4 class="mb-20"><strong>Benefit description</strong></h4>
                    			<p class="mb-0">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique.</p>
                			</div>
            			</div>
            			<div class="col-lg col-md-6">
                			<div class="content-box padding-x3 border-lg-right">
                    			<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64" height="48px" viewBox="0 0 64 64" width="48px" class="mb-50 icon svg-secondary"><path d="m0 58h64v-52h-64zm2-2v-40h60v40zm60-48v6h-60v-6z"></path><path d="m6 10h4v2h-4z"></path><path d="m14 10h4v2h-4z"></path><path d="m22 10h4v2h-4z"></path><path d="m30 40.586-6.293-6.293-1.414 1.561 7 7.146h1.414l13-13.146-1.414-1.488z"></path></svg>
                    			<h4 class="mb-20"><strong>Benefit description</strong></h4>
                    			<p class="mb-0">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique.</p>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="desc-halfbg-text-img-text" class="pb-75 pt-md-100 pb-md-100 light">
    			<div class="container-fluid">
        			<div class="row align-items-center">
            			<div class="bg-box col-md-6 mb-50 mb-md-0 embed-responsive-4by3" style="background-image: url(images/bg-33.jpg); background-position: center center; background-size: cover;">
            			</div>
            			<div class="col-lg-3 mr-auto ml-auto">
            			</div>
            			<div class="col-lg-auto col-md-6 text-center">
                			<img alt="mockup" class="mw-100 shadow mb-50 mb-md-0" src="images/mockup-mobile-screen.png" width="375">
            			</div>
            			<div class="col-lg-3 col-md-5 mr-auto ml-auto">
                			<h3 class="mb-20"><strong>Feature description</strong></h3>
                			<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 100 20" width="100" class="mb-30 svg-secondary"><path d="m0 9h100v2h-100z" fill-rule="evenodd"></path></svg>
                			<p class="mb-50">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible. Our elements have no excessive gloss, but they are always actual. </p>
                			<a class="btn btn-secondary" href="#">Details</a>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="testimonial-single-2" class="pt-50 pb-50 pt-md-100 pb-md-100 text-center light">
    			<div class="container">
        			<div class="row">
            			<div class="col-lg-12 ml-auto mr-auto">
                			<div class="content-box blockquote">
                    			<img class="rounded-circle mb-50" src="images/avatar-2.jpg" alt="photo" height="80">
                    			<h3 class="mb-30">In our work we try to use only the most modern, convenient and interesting solutions</h3>
                    			<p class="blockquote-footer lead text-secondary">Author</p>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><footer id="footer-text-logo-text-2" class="pt-75 pb-75 dark text-center">
    			<div class="container">
        			<div class="row align-items-center">
            			<div class="col-md order-md-3 text-md-right">
                			<ul class="list-unstyled list-inline padding-list mb-20 mb-md-0">
                    			<li><a href="#"><strong>Link 1</strong></a></li>
                    			<li><a href="#"><strong>Link 2</strong></a></li>
                    			<li><a href="#"><strong>Link 3</strong></a></li>
                    			<li><a href="#"><strong>Link 4</strong></a></li>
                			</ul>
            			</div>
            			<div class="col-md order-lg-1 text-md-left">
                			<p class="mb-0 text-secondary">© Multifour.com. All rights reserved.</p>
            			</div>
            			<div class="col-md-auto order-md-2">
                			<img class="mw-100 mt-30 mt-md-0" src="images/logo-1.png" height="70" alt="logo">
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.smooth-scroll.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>