<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Coming soon</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/bootstrap.weber.css" />
		<link rel="stylesheet" href="css/fx.css" />
		<link rel="stylesheet" href="css/custom.css" />
	</head>
    <body class="light-page">
		<div id="wrap">
			<header id="header-halfbg-form" class="pb-50 pt-md-100 pb-md-100 pt-lg-150 pb-lg-150 light full-height">
    			<div class="container-fluid">
        			<div class="row">
            			<div class="bg-box col-md-6 padding-x3 mb-50 mb-md-0 dark text-center" style="background-image: url(images/bg-25.jpg); background-size: cover;">
                			<div>
                    			<img alt="logo" class="mw-100 mb-30" src="images/logo-4-light.png" width="120">
                    			<h1><strong>We'll be back soon</strong></h1>
                    			<h3>Multipurpose template</h3>
                			</div>
            			</div>
            			<div class="col-md-4 offset-md-7">
                			<h3><strong>Drop us a line</strong></h3>
                			<p class="mb-30">In our work we try to use only the most modern, convenient and interesting solutions.</p>
                			<form action="./scripts/request.php" class="contact_form form-vertical" id="header-halfbg-form-form" novalidate="novalidate">
                    			<div class="form-group text-field-group"><input type="text" class="form-control" placeholder="Full name" name="NAME" size="10"></div>
                    			<div class="form-group email-field-group"><input type="email" class="form-control" placeholder="Email Address" name="EMAIL" size="10"></div>
                    			<div class="form-group  textarea-group"><textarea class="form-control" placeholder="Your message or question" rows="5" name="MESSAGE"></textarea></div>
                    			<button type="submit" data-loading-text="•••" data-complete-text="Completed!" data-reset-text="Try again later..." class="btn btn-lg btn-secondary mt-30">Send</button>
                			</form>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</header>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>