<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Product</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/bootstrap.weber.css" />
		<link rel="stylesheet" href="css/fx.css" />
		<link rel="stylesheet" href="css/owl.carousel.css" />
		<link rel="stylesheet" href="css/magnific-popup.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
    <body class="light-page">
		<div id="wrap">
			<nav id="nav-logo-menu" class="navbar navbar-expand-lg light">
    			<div class="container-fluid">
        			<div class="row align-items-center">
            			<div class="col-auto mr-auto no-gutters">
                			<a href="#">
                    			<img src="images/logo-3.png" height="60" class="mw-100" alt="logo">
                			</a>
            			</div>
            			<div class="col-auto hidden-lg">
                			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target=".main-menu-collapse" aria-expanded="false" aria-label="Toggle navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            			</div>
            			<div class="col-lg-auto collapse navbar-collapse main-menu-collapse">
                			<ul class="navbar-nav ml-auto">
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link</a>
                    			</li>
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link</a>
                    			</li>
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link</a>
                    			</li>
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link</a>
                    			</li>
                    			<li class="nav-item">
                        			<a class="nav-link" href="#">Navbar link <span class="badge badge-success"><strong>New</strong></span></a>
                    			</li>
                			</ul>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</nav><header id="header-text-carousel" class="section-carousel pt-75 pb-75 pt-lg-150 pb-lg-150 carousel-nav-none carousel-dots-aside-bottom light">
    			<div class="container">
        			<div class="row align-items-center">
            			<div class="col-md-6">
                			<img class="mb-md-50 mb-75" alt="sign" src="images/logo-4.png" height="120">
                			<h1 class=""><strong>Product</strong></h1>
                			<h3 class="mb-75 text-secondary">Multipurpose template</h3>
                			<a href="#desc-img-textbox" class="btn btn-secondary shadow-btn btn-lg smooth" target="_self">Details<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon icon-pos-right dark svg-default"><path d="m4.82528129 7h11.17471871v2h-11.16842704l3.23949485 3.2394949-1.41421356 1.4142135-4.24264069-4.24264067-1.41421356-1.41421357 5.65685425-5.65685425 1.41421356 1.41421357z" fill-rule="evenodd" transform="matrix(-1 0 0 1 17 0)"></path></svg></a>
            			</div>
            			<div class="col-md-6">
                			<div class="carousel-single-autoh position-relative mt-50 mt-md-0 owl-drag"><img class="mw-100 item" alt="image" src="images/mockup-desktop-screen-1.png"><img class="mw-100 item" alt="image" src="images/mockup-desktop-screen-1.png"><img class="mw-100 item" alt="image" src="images/mockup-desktop-screen-1.png"></div>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</header><section id="benefits-3col-2" class="light">
    			<div class="container-fluid">
        			<div class="row no-gutters">
            			<div class="col-md-4 d-flex flex-column flex-equal-items">
                			<div class="content-box d-xl-flex padding-x3" style="background-color:#F2F0ED;">
                    			<div class="mr-sm-50">
                        			<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64" height="48" viewBox="0 0 64 64" width="48" class="mb-30 icon svg-primary"><path d="m57 11h-50v34h-7v8h64v-8h-7zm-48 2h46v32h-46zm53 34v4h-60v-4h5 50z"></path><path d="m30 15h4v2h-4z"></path></svg>
                    			</div>
                    			<div>
                        			<h4 class="mb-20"><strong>Benefit description</strong></h4>
                        			<p class="mb-30">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique.</p>
                        			<a href="#" class="btn btn-primary">Details</a>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4 d-flex flex-column flex-equal-items">
                			<div class="content-box d-xl-flex padding-x3" style="background-color:#F4F5F6;">
                    			<div class="mr-sm-50">
                        			<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64" height="48" viewBox="0 0 64 64" width="48" class="mb-30 icon svg-secondary"><path d="m0 58h64v-52h-64zm2-2v-40h60v40zm60-48v6h-60v-6z"></path><path d="m6 10h4v2h-4z"></path><path d="m14 10h4v2h-4z"></path><path d="m22 10h4v2h-4z"></path><path d="m30 40.586-6.293-6.293-1.414 1.561 7 7.146h1.414l13-13.146-1.414-1.488z"></path></svg>
                    			</div>
                    			<div>
                        			<h4 class="mb-20"><strong>Benefit description</strong></h4>
                        			<p class="mb-30">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique.</p>
                        			<a href="#" class="btn btn-secondary">Details</a>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4 d-flex flex-column flex-equal-items">
                			<div class="content-box d-xl-flex padding-x3" style="background-color:#EEEEEE;">
                    			<div class="mr-sm-50">
                        			<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64" height="48" viewBox="0 0 64 64" width="48" class="mb-30 icon" style="fill:#444"><path d="m51 0c-7.168 0-13 5.832-13 13 0 2.702.83 5.213 2.246 7.294l-21.644 13.774c-1.978-1.895-4.653-3.068-7.602-3.068-6.065 0-11 4.935-11 11s4.935 11 11 11c4.134 0 7.739-2.295 9.618-5.676l18.397 7.359c-.002.106-.015.211-.015.317 0 4.963 4.037 9 9 9s9-4.037 9-9-4.037-9-9-9c-4.149 0-7.642 2.826-8.679 6.651l-17.899-7.159c.369-1.099.578-2.27.578-3.492 0-2.39-.774-4.598-2.074-6.403l21.587-13.737c2.375 2.54 5.744 4.14 9.487 4.14 7.168 0 13-5.832 13-13s-5.832-13-13-13zm-3 48c3.859 0 7 3.141 7 7s-3.141 7-7 7-7-3.141-7-7 3.141-7 7-7zm-37 3c-4.963 0-9-4.037-9-9s4.037-9 9-9 9 4.037 9 9-4.037 9-9 9zm40-27c-6.065 0-11-4.935-11-11s4.935-11 11-11 11 4.935 11 11-4.935 11-11 11z"></path></svg>
                    			</div>
                    			<div>
                        			<h4 class="mb-20"><strong>Benefit description</strong></h4>
                        			<p class="mb-30">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique.</p>
                        			<a href="#" class="btn btn-dark">Details</a>
                    			</div>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="desc-img-textbox" class="pt-75 pb-75 pt-lg-150 pb-lg-150 light">
    			<div class="container">
        			<div class="row">
            			<div class="col-12">
                			<div class="position-relative">
                    			<img class="mw-100" alt="img" src="images/bg-72.jpg">
                    			<div class="content-box zeroing-md padding-x2 shadow bg-default" style="position: absolute; bottom: 30px; right: 30px; width: 400px;">
                        			<h3 class="text-secondary">$299</h3>
                        			<h3 class="mb-30"><strong>Product name</strong></h3>
                        			<p class="mb-30">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new.</p>
                        			<a class="btn btn-dark" href="#">Details</a>
                    			</div>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="desc-text-2" class="pt-75 pb-75 pt-md-150 pb-md-150 light">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-6 col-lg-5">
                			<h3><strong>Feature description</strong></h3>
                			<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 40 20" width="40" class="mb-30 svg-secondary"><path d="m0 8h40v4h-40z" fill-rule="evenodd"></path></svg>
                			<p class="mb-50">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible.</p>
                			<a class="btn btn-secondary" href="#">Details</a>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="media-iframe-text" class="pt-75 pb-75 pt-lg-150 pb-lg-150 light">
    			<div class="container">
        			<div class="row align-items-center">
            			<div class="col-md-6">
                			<div class="video-iframe embed-responsive embed-responsive-4by3 mb-30 mb-lg-0">
                    			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ETqV4_UPONw?rel=0&amp;showinfo=0" allowfullscreen="">
                    			</iframe>
                			</div>
            			</div>
            			<div class="col-md-5 ml-auto">
                			<h3><strong>Media section</strong></h3>
                			<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 40 20" width="40" class="mb-30 svg-secondary"><path d="m0 8h40v4h-40z" fill-rule="evenodd"></path></svg>
                			<p class="mb-50">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible.</p>
                			<img alt="sign" src="images/sign-secondary.png" height="40">
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="gallery-fluid-carousel-5" class="section-carousel gallery dark overall carousel-nav-none carousel-dots-aside-bottom">
    			<div class="container-fluid">
        			<div class="row no-gutters">
            			<div class="col-12 position-inherit">
                			<div class="carousel-5item-nogutters owl-drag"><div class="item gallery-item gallery-style-4 padding dark">
                        			<a href="images/item-arch-3.jpg" class="image-popup">
                            			<img src="images/item-arch-3.jpg" alt="" class="item-img">
                        			</a>
                        			<div class="item-title">
                            			<p><strong>Gallery item</strong></p>
                        			</div>
                        			<div class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-default"><path d="m9 7h7v2h-7v7h-2v-7h-7v-2h7v-7h2z" fill-rule="evenodd"></path></svg></div>
                    			</div><div class="item gallery-item gallery-style-4 padding dark">
                        			<a href="images/item-arch-4.jpg" class="image-popup">
                            			<img src="images/item-arch-4.jpg" alt="" class="item-img">
                        			</a>
                        			<div class="item-title">
                            			<p><strong>Gallery item</strong></p>
                        			</div>
                        			<div class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-default"><path d="m9 7h7v2h-7v7h-2v-7h-7v-2h7v-7h2z" fill-rule="evenodd"></path></svg></div>
                    			</div><div class="item gallery-item gallery-style-4 padding dark">
                        			<a href="images/item-arch-5.jpg" class="image-popup">
                            			<img src="images/item-arch-5.jpg" alt="" class="item-img">
                        			</a>
                        			<div class="item-title">
                            			<p><strong>Gallery item</strong></p>
                        			</div>
                        			<div class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-default"><path d="m9 7h7v2h-7v7h-2v-7h-7v-2h7v-7h2z" fill-rule="evenodd"></path></svg></div>
                    			</div><div class="item gallery-item gallery-style-4 padding dark">
                        			<a href="images/item-arch-6.jpg" class="image-popup">
                            			<img src="images/item-arch-6.jpg" alt="" class="item-img">
                        			</a>
                        			<div class="item-title">
                            			<p><strong>Gallery item</strong></p>
                        			</div>
                        			<div class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-default"><path d="m9 7h7v2h-7v7h-2v-7h-7v-2h7v-7h2z" fill-rule="evenodd"></path></svg></div>
                    			</div><div class="item gallery-item gallery-style-4 padding dark">
                        			<a href="images/item-arch-3.jpg" class="image-popup">
                            			<img src="images/item-arch-3.jpg" alt="" class="item-img">
                        			</a>
                        			<div class="item-title">
                            			<p><strong>Gallery item</strong></p>
                        			</div>
                        			<div class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-default"><path d="m9 7h7v2h-7v7h-2v-7h-7v-2h7v-7h2z" fill-rule="evenodd"></path></svg></div>
                    			</div><div class="item gallery-item gallery-style-4 padding dark">
                        			<a href="images/item-arch-4.jpg" class="image-popup">
                            			<img src="images/item-arch-4.jpg" alt="" class="item-img">
                        			</a>
                        			<div class="item-title">
                            			<p><strong>Gallery item</strong></p>
                        			</div>
                        			<div class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-default"><path d="m9 7h7v2h-7v7h-2v-7h-7v-2h7v-7h2z" fill-rule="evenodd"></path></svg></div>
                    			</div><div class="item gallery-item gallery-style-4 padding dark">
                        			<a href="images/item-arch-5.jpg" class="image-popup">
                            			<img src="images/item-arch-5.jpg" alt="" class="item-img">
                        			</a>
                        			<div class="item-title">
                            			<p><strong>Gallery item</strong></p>
                        			</div>
                        			<div class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-default"><path d="m9 7h7v2h-7v7h-2v-7h-7v-2h7v-7h2z" fill-rule="evenodd"></path></svg></div>
                    			</div></div>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="testimonial-3col-5" class="pt-50 pt-md-100 pb-md-50 text-center light">
    			<div class="container">
        			<div class="row">
            			<div class="col-12">
                			<h3><strong>Testimonials</strong></h3>
                			<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 40 20" width="40" class="mb-50 svg-secondary"><path d="m0 8h40v4h-40z" fill-rule="evenodd"></path></svg>
            			</div>
            			<div class="col-md">
                			<div class="content-box border-x2 padding-x3 mb-50">
                    			<div class="position-absolute l-50 t-0 centered padding bg-default">
                        			<img src="images/client-logo-secondary.png" alt="logo" height="20">
                    			</div>
                    			<p>In our work we try to use only the most modern, convenient and interesting solutions</p>
                    			<p class="text-secondary blockquote-footer">Author</p>
                			</div>
            			</div>
            			<div class="col-md">
                			<div class="content-box border-x2 padding-x3 mb-50">
                    			<div class="position-absolute l-50 t-0 centered padding bg-default">
                        			<img src="images/client-logo-secondary.png" alt="logo" height="20">
                    			</div>
                    			<p>In our work we try to use only the most modern, convenient and interesting solutions</p>
                    			<p class="text-secondary blockquote-footer">Author</p>
                			</div>
            			</div>
            			<div class="col-md">
                			<div class="content-box border-x2 padding-x3 mb-50">
                    			<div class="position-absolute l-50 t-0 centered padding bg-default">
                        			<img src="images/client-logo-secondary.png" alt="logo" height="20">
                    			</div>
                    			<p>In our work we try to use only the most modern, convenient and interesting solutions</p>
                    			<p class="text-secondary blockquote-footer">Author</p>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="price-2col" class="pt-75 pb-75 pt-lg-100 pb-lg-100 text-center light">
    			<div class="container">
        			<div class="row border-grid">
            			<div class="col-lg-4 text-lg-left mr-auto">
                			<h2><strong>Prices</strong></h2>
                			<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 40 20" width="40" class="mb-30 svg-secondary"><path d="m0 8h40v4h-40z" fill-rule="evenodd"></path></svg>
                			<p class="mb-30">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible.</p>
                			<div class="inline-group mb-50">
                    			<img alt="sign" src="images/sign-secondary.png" height="40">
                			</div>
            			</div>
            			<div class="col-lg-8">
                			<div class="row no-gutters">
                    			<div class="col-md-6">
                        			<div class="content-box bg-default border padding-x3">
                            			<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64" height="64" viewBox="0 0 64 64" width="64" class="mb-30 mt-10 icon svg-secondary"><path d="m54 0h-44v21.142l-10 4.193v38.665h64v-38.665l-10-4.193zm-2 2v29.716l-20 12.537-20-12.537v-29.716zm-42 28.462-6.835-4.285 6.835-2.866zm-8 31.538v-34.193l30 18.807 30-18.807v34.193zm58.835-35.823-6.835 4.285v-7.151z"></path></svg>
                            			<h4>Plan 1</h4>
                            			<h2 class="mb-30">FREE</h2>
                            			<p class="mb-50">
                                In our work we try to use only the most modern, convenient and interesting solutions.</p>
                            			<a href="#" class="btn btn-lg btn-secondary"><span>Try now</span></a>
                        			</div>
                    			</div>
                    			<div class="col-md-6">
                        			<div class="content-box bg-default border padding-x3">
                            			<img class="position-absolute r-0 t-0" src="images/stamp-1-primary.png" height="100" alt="Best">
                            			<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64" height="64" viewBox="0 0 64 64" width="64" class="mb-30 mt-10 icon svg-primary"><path d="m30.707 28 13-13.146-1.414-1.488-12.293 12.257-6.293-6.311-1.414 1.551 7 7.137z"></path><path d="m54 0h-44v21.142l-10 4.193v38.665h64v-38.665l-10-4.193zm-2 2v29.716l-20 12.537-20-12.537v-29.716zm-42 28.462-6.835-4.285 6.835-2.866zm-8 31.538v-34.193l30 18.807 30-18.807v34.193zm58.835-35.823-6.835 4.285v-7.151z"></path></svg>
                            			<h4>Plan 2</h4>
                            			<h2 class="mb-30"><strong>$500</strong><sup><del>$750</del></sup></h2>
                            			<p class="mb-50">
                                In our work we try to use only the most modern, convenient and interesting solutions.</p>
                            			<a href="#" class="btn btn-lg btn-primary"><span>Buy now</span></a>
                        			</div>
                    			</div>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><section id="action-text-btn-2" class="pt-50 pb-50 pt-lg-75 pb-lg-75 light">
    			<div class="container">
        			<div class="row align-items-center">
            			<div class="col-md-auto mr-auto mb-50 mb-md-0">
                			<h3><strong>Call to action title</strong></h3>
                			<h4 class="text-secondary">Section description</h4>
            			</div>
            			<div class="col-md-auto">
                			<a href="#" class="btn btn-lg btn-primary">View more<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-default icon-pos-right dark"><path d="m4.82528129 7h11.17471871v2h-11.16842704l3.23949485 3.2394949-1.41421356 1.4142135-4.24264069-4.24264067-1.41421356-1.41421357 5.65685425-5.65685425 1.41421356 1.41421357z" fill-rule="evenodd" transform="matrix(-1 0 0 1 17 0)"></path></svg></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</section><footer id="footer-text" class="pt-75 pb-30 light">
    			<div class="container">
        			<div class="row">
            			<div class="col-md mb-50">
                			<h4 class="mb-20"><strong>Title 1</strong></h4>
                			<ul class="list-unstyled padding-list">
                    			<li><a href="#">List item description</a></li>
                    			<li><a href="#">List item description</a></li>
                    			<li><a href="#">List item description</a></li>
                    			<li><a href="#">List item description</a></li>
                    			<li><a href="#">List item description</a></li>
                			</ul>
            			</div>
            			<div class="col-md mb-50">
                			<h4 class="mb-20"><strong>Title 2</strong></h4>
                			<ul class="list-unstyled padding-list">
                    			<li><a href="#">List item description</a></li>
                    			<li><a href="#">List item description</a></li>
                    			<li><a href="#">List item description</a></li>
                    			<li><a href="#">List item description</a></li>
                    			<li><a href="#">List item description</a></li>
                			</ul>
            			</div>
            			<div class="col-md mb-50">
                			<h4 class="mb-20"><strong>Title 3</strong></h4>
                			<ul class="list-unstyled padding-list">
                    			<li><a href="#">List item description</a></li>
                    			<li><a href="#">List item description</a></li>
                    			<li><a href="#">List item description</a></li>
                    			<li><a href="#">List item description</a></li>
                    			<li><a href="#">List item description</a></li>
                			</ul>
            			</div>
            			<div class="col-lg-4 mb-50">
                			<h4 class="mb-20"><strong>Title 4</strong></h4>
                			<p class="text-secondary mb-30">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible.</p>
                			<a href="#" class="btn btn-secondary">Details</a>
            			</div>
        			</div>
    			</div>
    			<div class="bg-wrap">
        			<div class="bg"></div>
    			</div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/jquery.smooth-scroll.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>