/*================= FONT (OPEN SANS) IMPORT FROM GOOGLE FONTS =================*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600|Montserrat:200,300,600';

/*=============================== COMMON STYLES ================================*/

* {
    margin: 0;
    padding: 0;
}

:focus {
    outline: 0;
}

img {
    border: none;
}

ul {
    list-style: none;
}

html,
body {
    height: 100%;
    -webkit-text-size-adjust: none;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #555;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 44px;
    font-weight: 200;
    margin: 0 0 50px 0;
}

h2 {
    font-size: 35px;
    font-weight: 200;
    border-bottom: 1px solid #eee;
    margin: 80px 0 30px 0;
    padding-bottom: 30px;
}

h2:first-child {
    margin-top: 0;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    margin: 50px 0 25px 0;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 35px 0 15px 0;
}

pre {
    display: block;
    padding: 40px;
    margin: 0 0 20px;
    background-color: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 1px;
    word-break: normal;
    word-wrap: normal;
    overflow-x: scroll;
}


/*=============================== NAVIGATION STYLES ================================*/

nav#navbar {
    margin-left: 70px;
}

.nav > li > a {
    position: relative;
    display: inline-block;
    padding: 7px 0 7px 20px;
    color: #888;
    font-weight: bold;
}

.nav > li .nav > li > a {
    padding: 7px 0 7px 20px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.2em;
}

.nav > li > a:before {
    content: "";
    display: block;
    position: absolute;
    height: 8px;
    width: 8px;
    background: #eee;
    border-radius: 50%;
    left: 0;
    top: 16px;
}

.nav > li .nav > li > a:before {
    display: none;
}

.nav > li.active > a,
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #444;
}

.nav > li.active > a:before {
    background-color: #444;
}

.nav > li > .nav {
    max-height: 1px;
    overflow: hidden;
}

.nav > li.active > .nav {
    max-height: none;
}


/*=============================== SECTION STYLES ================================*/

#info {
    padding: 100px 0;
    background-color: #2b356f;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    color: #fff;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

#info p {
    margin: 0 0 5px 0;
}

#info a,
#info a:hover {
    color: #fff;
}

#info .logo {
    margin-bottom: 75px;
}

#main {
    padding: 70px 0;
}

.affix {
    top: 50px;
    width: 193px;
}


/*=============================== STRUCTURE LIST STYLES ================================*/

ol.folder-list {
    margin-left: 15px;
}

ul.folder-list li,
ol.folder-list li {
    margin: 15px 0;
    list-style: none;
}

ul.folder-list ul {
    padding-left: 30px;
    border-left: 1px solid #e4e4e4;
}

ul.folder-list li:before,
ul.folder-list li.open_folder:before,
ul.folder-list li.file:before {
    font-family: 'icomoon';
    padding: 0 10px 0 0;
}

ul.folder-list li:before {
    content: "\f07b";
    color: #7DD3FB;
}

ul.folder-list li.open-folder:before {
    content: "\f07c";
    color: #7DD3FB;
}

ul.folder-list li.file:before {
    content: "\f15b";
    color: #aad466;
}

.border-list {
    padding: 30px 30px 30px 50px;
    margin: 20px 0;
    border: 2px solid #eee;
    border-radius: 2px;
}

.border-list li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.border-list li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

.note {
    background: #fffbce;
    border-left: 30px solid #fffbce;
    padding: 15px 20px;
    display: inline-block;
    position: relative;
}

.note:before {
    font-family: 'icomoon';
    content: "\f040";
    color: #b9832c;
    position: absolute;
    margin-left: -28px;
}

.note ul {
    list-style: none;
    padding-top: 10px;
}

.note ul li {
    padding-top: 5px;
}

img.screen {
    border-radius: 2px;
    margin: 20px 0;
    border: 1px solid #eee;
    max-width: 100%;
}

.banner-block {
    background-color: #232122;
/*
    background-image: url(../images/bg.jpg);
    background-size: cover;
*/
    color: #fff;
    border-radius: 3px;
    padding: 40px;
    margin: 50px 0;
}

.banner-block h2 {
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 40px;
    padding-bottom: 0;
    border: 0;
}

.banner-block a,
.banner-block a:hover {
    color: #fff;
    font-weight: bold;
}

.banner-block .icons-line {
    display: inline-block;
    margin: 10px 0 0 0;
    color: #ffed15;
}

.banner-block .icon-star {
    display: inline-block;
    margin: 0 0 0 5px;
    font-size: 28px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
}

.banner-block .icons-line:hover{
    color: #fcff93;
}